code{
    background-color: rgb(11, 95, 11);
    width: 800px;
    color: black;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    padding: 20px;
    margin: auto;
    opacity: .3;
}