.userBox {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    background-color: antiquewhite;
    justify-content: center;
    gap: 40px;

    .box {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
        background-color: rgb(59, 150, 59);
        opacity: .8;
        border-radius: 10px;
        padding: 10px;
        margin: 20px auto;
        position: relative;
        cursor: pointer;

        .bi {
            font-size: 20px;
            font-weight: 900;
            position: absolute;
            right: 0px;
            top: 0px;
            border-radius: 0 10px 0 0;
            background-color: rgb(16, 109, 16);
            padding: 10px;
        }

        p {
            font-size: 20px;
            text-transform: capitalize;
            text-align: center;
            color: antiquewhite;
        }
    }

    .box:hover {
        transform: scale(1.1);
    }
}