.slider-container {
  margin: auto;
  max-width: 1440px;
}

.slick-prev::before,
.slick-next::before {
  color: red !important;
}

img {
  width: 400px !important;
  height: 300px !important;
  object-fit: cover;
}
