body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #761282, #547aff);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

input {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 30px;
  border: 2px solid #64108e;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input:focus {
  border-color: #8b2383;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #923599;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #731078;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.weather-info {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
