ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  li {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
  }
}
