* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    input {
      padding: 15px 30px;
      border-radius: 30px;
    }
    button {
      padding: 15px 30px;
      border-radius: 30px;
    }
  }
}
